.accordion {
    width: 100%;
    display: block;
}

.accordion-toggle {
    display: none!important;
}

.accordion-content {
    position: relative;
    display: block;
    width: 100%;
    height: 0;
    overflow: hidden;
    padding: 0 16px;
    opacity: 0;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.accordion-toggle:checked+.accordion-content{
    padding: 16px;
    opacity: 1;
    height: auto;
}
