.dialog {
     padding: 16px;
     border-radius: 2px;
     background-color: #fff;
     color: #000;
     min-width: 100px;
     width: auto;
     height: auto;
     z-index: 1000;
     display: -webkit-box;
     display: -webkit-flex;
     display: -moz-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
     -webkit-flex-direction: column;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
         -ms-flex-direction: column;
             flex-direction: column;
    margin: auto 8px;
}

.dialog .title {
     text-align: center;
     font-weight: 500;
     display: block;
     width: 100%;
}

.dialog .actions {
     width: 100%;
     display: -webkit-box;
     display: -webkit-flex;
     display: -moz-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-pack: justify;
     -webkit-justify-content: space-between;
        -moz-box-pack: justify;
         -ms-flex-pack: justify;
             justify-content: space-between;
     -webkit-flex-wrap: wrap;
         -ms-flex-wrap: wrap;
             flex-wrap: wrap;
     margin: auto;
     margin-top: 16px;
}

 @media screen and (min-width: 48em) {
    .dialog {
         max-width: 80%;
         margin: auto;
    }
}

 @media screen and (min-width: 64em) {
     .dialog {
         max-width: 65%;
     }
}

 @media screen and (min-width: 80em) {
     .dialog {
         max-width: 50%;
     }
}

 @media screen and (min-width: 80em) {
     .dialog {
         max-width: 50%;
     }
}