.dialog,
.dialog .title,
.dialog .actions {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

.dialog {
    -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
            align-self: flex-start;
      -webkit-box-orient: vertical;
         -moz-box-orient: vertical;
     -webkit-box-direction: normal;
        -moz-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 16px;
    border-radius: 2px;
    background-color: #fff;
    color: #000;
    z-index: 1001;
    margin: auto 8px;
    overflow: hidden;
}

.dialog .title {
     text-align: center;
     font-weight: 500;
}

.dialog .actions {
     -webkit-box-pack: justify;
     -webkit-justify-content: space-between;
        -moz-box-pack: justify;
         -ms-flex-pack: justify;
             justify-content: space-between;
     -webkit-flex-wrap: wrap;
         -ms-flex-wrap: wrap;
             flex-wrap: wrap;
    margin-top: 16px;
    font-size: 16px;
}

 @media screen and (min-width: 48em) {
    .dialog {
         max-width: 80%;
         margin: auto;
    }
}

 @media screen and (min-width: 64em) {
     .dialog {
         max-width: 65%;
     }
}

 @media screen and (min-width: 80em) {
     .dialog {
         max-width: 50%;
     }
}

 @media screen and (min-width: 80em) {
     .dialog {
         max-width: 50%;
     }
}