.dialog,
.dialog .title,
.dialog .actions {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

.dialog {
     padding: 16px;
     border-radius: 2px;
     background-color: #fff;
     color: #000;
     z-index: 1001;
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
     -webkit-flex-direction: column;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
         -ms-flex-direction: column;
             flex-direction: column;
     margin: auto 8px;
     overflow: hidden;
}

.dialog .title {
     text-align: center;
     font-weight: 500;
}

.dialog .actions {
     -webkit-box-pack: justify;
     -webkit-justify-content: space-between;
        -moz-box-pack: justify;
         -ms-flex-pack: justify;
             justify-content: space-between;
     -webkit-flex-wrap: wrap;
         -ms-flex-wrap: wrap;
             flex-wrap: wrap;
    margin-top: 16px;
    font-size: 16px;
}

/* For IE 10+ */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .dialog {
        position: absolute;
        top: 50%; 
        left: 50%;
        -webkit-transform: translate(-50%, -50%); 
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); 
        max-width: 96%;
    }
}

 @media screen and (min-width: 48em) {
    .dialog {
         max-width: 80%;
         margin: auto;
    }
}

 @media screen and (min-width: 64em) {
     .dialog {
         max-width: 65%;
     }
}

 @media screen and (min-width: 80em) {
     .dialog {
         max-width: 50%;
     }
}

 @media screen and (min-width: 80em) {
     .dialog {
         max-width: 50%;
     }
}