.dropdown,
.dropdown-hover {
    position: relative;
    display: inline-block!important;
}

.dropdown,
.dropdown-hover,
.dropdown__item {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}

.dropdown__content {
    display: inline-block;
    height: 0;
    background: #f1f1f1;
    z-index: 3;
    list-style-type: none;
    border: none;
    border-radius: 2px;
    overflow: hidden;
    -webkit-transition: all .3s cubic-bezier(0.4, 0.0, 0.2, 1), width .17s cubic-bezier(0.0, 0.0, 0.2, 1), height .21s cubic-bezier(0.0, 0.0, 0.2, 1);
         -o-transition: all .3s cubic-bezier(0.4, 0.0, 0.2, 1), width .17s cubic-bezier(0.0, 0.0, 0.2, 1), height .21s cubic-bezier(0.0, 0.0, 0.2, 1);
            transition: all .3s cubic-bezier(0.4, 0.0, 0.2, 1), width .17s cubic-bezier(0.0, 0.0, 0.2, 1), height .21s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.dropdown.is-upgraded .dropdown__content * {
    white-space: nowrap;
}

.dropdown__content.bottom-left {
    top: 100%;
    right: 0;
}

.dropdown__content.bottom-right {
    top: 100%;
    left: 0;
}

.dropdown__content.top-left {
    bottom: 100%;
    right: 0;
}

.dropdown__content.top-right {
    bottom: 100%;
    left: 0;
}

.dropdown:not(.js-pos-static) .dropdown__content,
.dropdown-hover:not(.js-pos-static) .dropdown__content {
    position: absolute;
}

.dropdown.is-upgraded .dropdown__content,
.dropdown-hover.is-upgraded .dropdown__content {
    position: absolute;
}

.dropdown-hover.is-upgraded .dropdown__content,
.dropdown.is-upgraded .dropdown__content {
    min-width: 130px;
}

.dropdown__content.inactive,
.dropdown-hover.is-upgraded:not(:hover) .dropdown__content {
    height: 0!important;
    width: 0!important;
    min-width: 0!important;
    -webkit-transition: all 0s .18s;
         -o-transition: all 0s .18s;
            transition: all 0s .18s;
}

.dropdown__content * {
    display: block!important;
    padding: 16px;
    cursor: pointer;
}

.dropdown-hover:not(.is-upgraded):hover .dropdown__content,
.dropdown:not(.is-upgraded):hover .dropdown__content {
    width: auto;
    height: auto;
}

.dropdown__content *:hover {
    background: rgba(158, 158, 158, 0.2);
}

.dropdown__content *:focus:not(:active) {
    background-color: rgba(0, 0, 0, 0.12);
}
.dropdown__content *:active {
    background-color: rgba(158, 158, 158, 0.4);
}

.dropdown__content *::-moz-focus-inner {
    border: 0;
}