.textfield {
    position: relative;
    margin-bottom: 8px; 
    margin-top: 16px;  
    background-color: transparent;
}

.textfield__input {
    padding: 8px 0px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 3px solid rgba(0, 0, 0, .26);
    outline: none;
    background-color: transparent;
    caret-color: #2196F3;
}

textarea.textfield__input {
    overflow: auto;
    resize: vertical;
}

textarea.textfield__input.is-upgraded {
    resize: none;
    overflow: hidden;
}

textarea.textfield__input,
.textfield__mirrored-textarea {
    min-height: 100px;
    padding: 8px 0px;
    width: 100%;
    display: block;
    font-size: 16px;
    line-height: 16px;
    word-break: break-all!important;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

.textfield__mirrored-textarea {
    position: absolute;
    top: 0;
    pointer-events: none!important;
    z-index: -99;
    opacity: 0;
}

.textfield__label {
    color: rgba(0, 0, 0, .55);
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 0px;
    top: 8px;
}

.textfield__helper-text {
    color: rgba(0, 0, 0, .55);
    font-size: 12px;
    padding-top: 8px;
    display: inline-block;
}

/* active state */
.textfield__input:focus~.textfield__label,
.textfield__input.is-active~.textfield__label {
    top: -12px;
    font-size: 14px;
}

.textfield__input:focus~.textfield__label {
    color: #2196F3;
}

/* bottom bar */
.textfield__bar {
    position: relative;
    display: block;
    width: 100%;
    margin: auto;
    background-color: #2196F3;
}

.textfield__bar::before,
.textfield__bar::after {
    content: '';
    height: 3px;
    width: 0;
    bottom: 0px;
    position: absolute;
    background-color: #2196F3;
}

.textfield__bar::before {
    left: 50%;
}

.textfield__bar::after {
    right: 50%;
}

/* active state */
.textfield__input:focus~.textfield__bar::before,
.textfield__input:focus~.textfield__bar::after {
    width: 50%;
}

/* checkboxes and radio buttons */
.checkbox input[type="checkbox"],
.radio input[type="radio"],
.switch input[type="checkbox"] {
    display: none;
}

.checkbox__label,
.radio__label,
.switch__label {
    font-size: 16px;
    padding-left: 5px;
}

.switch__label {
    padding-top: 0.125em;
}

.checkbox,
.radio,
.switch {
    margin: 3px 2px;
    position: relative;
    z-index: 1;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
      -webkit-box-align: center;
         -moz-box-align: center;
         -ms-flex-align: center;
            align-items: center;
}

.checkbox *,
.radio *,
.switch *{
    cursor: pointer;
}

.checkbox__check,
.checkbox__check::before,
.checkbox__check::after,
.radio__check,
.radio__check::after,
.radio__check::before,
.switch__check,
.switch__check::after {
    width: 16px;
    height: 16px;
    font-size: 16px;
    line-height: 16px;
    display: inline-block;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.checkbox__check,
.radio__check,
.switch__check {
    position: relative;
}

/* layer 1 */
.checkbox__check::before {
    position: absolute;
    z-index: 1;
    content:"";
    border-radius: 2px;
    border: 2px solid rgba(0, 0, 0, 0.55);
}

/* layer 2 */
.checkbox__check::after {
    font-family: "Material Icons"!important;
    content: "check";
    position: absolute;
    z-index: 2;
    opacity: 0;
    -webkit-transition-delay: 0s;
         -o-transition-delay: 0s;
            transition-delay: 0s;
}

/* active state */
input:checked+.checkbox__check::before {
    border: 8px solid #2196F3;
}

input:checked+.checkbox__check::after {
    opacity: 1;
    -webkit-transition-delay: .2s;
         -o-transition-delay: .2s;
            transition-delay: .2s;
}

/* radio buttons */
/* layer 0 */
.radio__check::before {
    content: '';
    position: absolute;
    z-index: 1;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.55);
}

/* layer 1 */
.radio__check::after {  
    content: "";
    position: absolute;
    z-index: 2;
    border-radius: 50%;
    background-color: #2196F3;
    opacity: 0;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
}

/* active state */
input:checked+.radio__check::before {
    border: 2px solid #2196f3;
}

input:checked+.radio__check::after {
    opacity: 1;
    -webkit-transform: scale(.45);
        -ms-transform: scale(.45);
            transform: scale(.45);
}

/* switch */
.switch__check {
    background: rgba(0,0,0, 0.26);
    left: 0;
    top: 2px;
    height: 14px;
    width: 36px;
    border-radius: 14px;
    cursor: pointer;
}

.switch__check::after {
    content: "";
    background-color: #fff;
    position: absolute;
    left: 0;
    top: -3.5px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    z-index: 1;
}

/* active state */
input:checked+.switch__check {
    background-color: rgba(33, 150, 243, 0.55);
}

input:checked+.switch__check::after {
    background-color: #2196F3;
    left: 16px;
    -webkit-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
            box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12); 
}