.material-input-container {
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #111;
    background-color: currentColor;
}

.material-input {
    margin: auto;
    padding: 10px 20px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #b0b0b0;
    outline: none;
}

textarea.material-input {
    overflow: auto;
    resize: none;
}

textarea.material-input::-webkit-scrollbar {
    display: none;
}

.material-label {
    margin: auto;
    color: #909090;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 20px;
    top: 10px;
}


/* active state */
.material-input:focus~.material-label,
.material-input.active~.material-label {
    top: -20px;
    left: 5px;
    font-size: 14px;
    color: inherit;
}


/* bottom bar */
.material-bar {
    position: relative;
    display: block;
    width: 100%;
    margin: auto;
    background-color: inherit;
}

.material-bar::before,
.material-bar::after {
    content: '';
    height: 3px;
    width: 0;
    bottom: 0px;
    position: absolute;
    background-color: inherit;
}

.material-bar::before {
    left: 50%;
}

.material-bar::after {
    right: 50%;
}

/* active state */
.material-input:focus~.material-bar::before,
.material-input:focus~.material-bar::after {
    width: 50%;
}

/* checkboxes and radio buttons */

.material-checkbox input[type="checkbox"],
.material-radio input[type="radio"],
.material-switch input[type="checkbox"] {
    display: none;
}

.material-checkbox .text,
.material-radio .text {
    font-size: 16px;
}

.material-checkbox,
.material-radio,
.material-switch {
    cursor: pointer;
    position: relative;
    z-index: 1;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.material-checkbox .check,
.material-checkbox .check::before,
.material-checkbox .check::after,
.material-radio .check,
.material-radio .check::after,
.material-switch .check,
.material-switch .check::after {
    width: 16px;
    height: 16px;
    line-height: 16px;
    font-size: 16px;
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.material-checkbox .check,
.material-radio .check,
.material-switch .check {
    margin-right: 3px;
    position: relative;
}

/* layer 1 */
.material-checkbox .check::before {
    position: absolute;
    z-index: 1;
    content:"";
    border-radius: 2px;
    border: 2px solid rgba(0, 0, 0, 0.55);
}

/* layer 2 */
.material-checkbox .check::after {
    font-family: "Material Icons";
    content: "check";
    position: absolute;
    z-index: 2;
    opacity: 0;
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
}

/* active state */
.material-checkbox input:checked+.check::before {
    border: 8px solid #2196F3;
}

.material-checkbox input:checked+.check::after {
    opacity: 1;
    -webkit-transition-delay: .2s;
            transition-delay: .2s;
}

/* radio buttons */
/* layer 0 */
.material-radio .check {
    border-radius: 50%;
    box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.55);
}

/* layer 1 */
.material-radio .check::after {
    border-radius: 50%;    
    content: "";
    position: absolute;
    z-index: 1;
    border-radius: 50%;
    background-color: #2196F3;
    opacity: 0;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
}

/* active state */
.material-radio input:checked+.check {
    box-shadow: inset 0 0 0 2px #2196F3;
}

.material-radio input:checked+.check::after {
    opacity: 1;
    -webkit-transform: scale(.5);
        -ms-transform: scale(.5);
            transform: scale(.5);
}

/* switch */
.material-switch .check {
    background: rgba(0,0,0, 0.26);
    left: 0;
    top: 2px;
    height: 14px;
    width: 36px;
    border-radius: 14px;
    cursor: pointer;
}

.material-switch .check::after {
    content: "";
    background-color: #fff;
    position: absolute;
    left: 0;
    top: -3px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    z-index: 1;
}

/* active state */
.material-switch input:checked+.check {
    background-color: rgba(33, 150, 243, 0.55);
}

.material-switch input:checked+.check::after {
    background-color: #2196F3;
    left: 16px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12); 
}

/* material range */

/* tracks */
.material-range {
    -webkit-appearance: none!important;
        -moz-appearance: none!important;
            appearance: none!important;
    background-color: transparent!important;
    outline:none;
    width: 100%;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    z-index: 1;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
                -ms-grid-row-align: center;
            align-self: center;
}

.material-range::-moz-focus-outer {
    border: none;
}

.material-range::-ms-tooltip {
    display: none;
}


.material-range::-webkit-slider-runnable-track {
    background: transparent; 
    width: 100%;
    height: 12px;
    border: none;
}

.material-range::-moz-range-track {
    background: transparent;
    width: 100%;
    height: 12px;
    border: none; 
}

.material-range::-ms-track {
    box-sizing: content-box;
    background: transparent;
    color: transparent;
    width: 100%;
    height: 22px;
    border-color: transparent;
}

.material-range::-ms-fill-lower {
    border: none;
    background-color: transparent;
}

.material-range::-ms-fill-upper {
    border: none;
    background-color: transparent;
}

/* thumbs */
.material-range::-webkit-slider-thumb {
    -webkit-appearance: none!important;
            appearance: none!important;
    width: 12px;
    height: 12px;
    box-sizing: border-box;
    border-radius: 50%;
    background: #2196F3;
    border: none;
}

.material-range::-moz-range-thumb {
    -moz-appearance: none!important;
         appearance: none!important;
    width: 12px;
    height: 12px;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    border-radius: 50%;
    background: #2196F3;
    border: none;
    transition: border 0.18s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.18s cubic-bezier(0.4, 0, 0.2, 1), background 0.28s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.18s cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition: border 0.18s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.18s cubic-bezier(0.4, 0, 0.2, 1), background 0.28s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.18s cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 0.18s cubic-bezier(0.4, 0, 0.2, 1), border 0.18s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.18s cubic-bezier(0.4, 0, 0.2, 1), background 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 0.18s cubic-bezier(0.4, 0, 0.2, 1), border 0.18s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.18s cubic-bezier(0.4, 0, 0.2, 1), background 0.28s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.18s cubic-bezier(0.4, 0, 0.2, 1);
}

/* thumb active state */
.material-range:focus:not(:active).material-range::-webkit-slider-thumb {
    box-shadow: 0 0 0 6px rgba(33, 150, 243, .26);
}

.material-range:focus:not(:active).material-range::-moz-range-thumb{
    box-shadow: 0 0 0 6px rgba(33, 150, 243, .26);
}

.material-range:active.material-range::-webkit-slider-thumb {
    -webkit-transform:scale(1.5);
            transform:scale(1.5);
}
.material-range:active.material-range::-moz-range-thumb{
    transform:scale(1.5);
}

/* for IE :/ */
.material-range::-ms-thumb {
    width: 12px;
    height: 12px;
    border: none;
    border-radius: 50%;
    background: #2196F3;
    margin-left: 4px;
    margin-right: 4px;
    transition: border 0.18s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.18s cubic-bezier(0.4, 0, 0.2, 1), background 0.28s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.18s cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition: border 0.18s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.18s cubic-bezier(0.4, 0, 0.2, 1), background 0.28s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.18s cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 0.18s cubic-bezier(0.4, 0, 0.2, 1), border 0.18s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.18s cubic-bezier(0.4, 0, 0.2, 1), background 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 0.18s cubic-bezier(0.4, 0, 0.2, 1), border 0.18s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.18s cubic-bezier(0.4, 0, 0.2, 1), background 0.28s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.18s cubic-bezier(0.4, 0, 0.2, 1);
}
        
.material-range:active::-ms-thumb {
      background: #2196F3;
      -webkit-transform:scale(1.5);
         -ms-transform: scale(1.5);
             transform: scale(1.5); 
}

.material-range:focus:not(:active).material-range::-ms-thumb{
    box-shadow: 0 0 0 6px rgba(33, 150, 243, .26);
}

/* lowest value state */
.material-range.is-lowest-value::-webkit-slider-thumb {
      box-shadow: 0 0 0 2px rgba(0,0,0, 0.26);
      background-color: transparent; 
}
    
.material-range.is-lowest-value::-moz-range-thumb {
      box-shadow: 0 0 0 2px rgba(0,0,0, 0.26);
      background-color: transparent; 
}

.material-range.is-lowest-value::-ms-thumb {
      box-shadow: 0 0 0 2px rgba(0,0,0, 0.26);
      background-color: transparent; 
}

.material-range-container {
    height: 18px;
    margin: 8px 0px;
    position: relative;
    background: none;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -moz-box;
    display: flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -moz-box-orient: horizontal;
        -moz-box-direction: normal;
            flex-direction: row; 
    -webkit-box-align: center; 
    -webkit-align-items: center; 
       -moz-box-align: center; 
        -ms-flex-align: center; 
            align-items: center;
}

.material-range-background {
    background: rgba(0, 0, 0, .26);
    position: absolute;
    border-radius: 12px;
    height: 2px;
    width: 100%;
    left: 0;
    top: -webkit-calc(50% - .5px);
    top: calc(50% - .5px);
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -moz-box;
    display: flex;
    overflow: hidden;
}

.material-range-progressbar {
    background-color: #2196F3;
    width: 0;
    -webkit-transition: 0s!important;
    transition: 0s!important;
}


/* IE10+ CSS styles go here */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .material-range-background {
        width: -webkit-calc(100% - 22px);
        width: calc(100% - 22px);
        left: 11px;
    }
}

/* IE Edge 12+ CSS styles go here */ 
@supports (-ms-ime-align:auto) {
    .material-range-background {
        width: -webkit-calc(100% - 22px);
        width: calc(100% - 22px);
        left: 11px;
     }
}

.material-range::-ms-thumb {
    margin-left: 11px;
    margin-right: 11px;
}