.nav-item {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    -webkit-flex-grow: 0;
    -moz-box-flex: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    font-size: 1rem;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    justify-content: center;
    line-height: 1.5;
    padding: 0.5rem 0.75rem;
    cursor: pointer;
    vertical-align: middle;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.nav-item a {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    -webkit-flex-grow: 1;
    -moz-box-flex: 1;
    flex-grow: 1;
    -ms-flex-negative: 0;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
}

.nav-item img {
    max-height: 1.75rem;
}

@media screen and (max-width: 48em) {
    .nav-item {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        -webkit-justify-content: flex-start;
        -moz-box-pack: start;
        justify-content: flex-start;
    }
}

.nav-left,
.nav-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    -webkit-flex-grow: 1;
    -moz-box-flex: 1;
    flex-grow: 1;
    -ms-flex-negative: 0;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    max-width: 100%;
    overflow: auto;
}

@media screen and (min-width: 74.5em) {
    .nav-left,
    .nav-right {
        -ms-flex-preferred-size: 0;
        -webkit-flex-basis: 0;
        flex-basis: 0;
    }
}

.nav-left {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    -moz-box-pack: start;
    justify-content: flex-start;
    white-space: nowrap;
}

.nav-right {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    -moz-box-pack: end;
    justify-content: flex-end;
}

.nav-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    -webkit-flex-grow: 0;
    -moz-box-flex: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 48em) {
    .nav-menu.nav-right {
        background-color: inherit;
        -webkit-box-shadow: 0 4px 7px rgba(10, 10, 10, 0.1);
                box-shadow: 0 4px 7px rgba(10, 10, 10, 0.1);
        left: 0;
        display: none;
        right: 0;
        top: 100%;
        position: absolute;
    }
    .nav-menu.nav-right .nav-item {
        border-top: 1px solid rgba(219, 219, 219, 0.5);
        padding: 0.75rem;
    }
    .nav-menu.nav-right.active {
        display: block;
    }
}

.nav {
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    height: 3.25rem;
    position: relative;
    text-align: center;
    z-index: 10;
    width: 100%;
}

.nav-offset {
    height: 3.25rem;
    display: block!important;
}

.nav.top {
    position: fixed;
    top: 0;
}

.main.active {
    position: fixed;
    width: 100%;
}

.sidenav {
    position: absolute;
    top: 0;
    height: 100%;
    width: 200px;
    background-color: #fff;
    z-index: 1001;
    overflow: auto;
}

.sidenav.left {
    left: 0;
}

.sidenav.right {
    right: 0;
}

.dropdown,
.dropdown-hover {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.dropdown-hover:hover .dropdown-content {
    display: block;
    z-index: 1;
}

.dropdown-content {
    cursor: auto;
    display: none;
    position: absolute;
    height: auto;
    width: auto;
    min-width: 130px;
    background-color: #fff;
}

.dropdown-content .dropdown-item,
.sidenav .nav-item {
    display: block;
    border: none;
    background-color: transparent;
    padding: 0 16px;
    outline-color: rgb(189, 189, 189);
    position: relative;
    overflow: hidden;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    text-decoration: none;
    cursor: pointer;
    height: 48px;
    line-height: 48px;
    white-space: nowrap;
    -webkit-transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dropdown-content .dropdown-item::-moz-focus-inner,
.sidenav .nav-item::-moz-focus-inner {
    border: 0;
}

.dropdown-content .dropdown-item:hover,
.sidenav .nav-item:hover {
    background-color: rgba(158, 158, 158, 0.20);
}

.dropdown-content .dropdown-item:focus:not(:active),
.sidenav .nav-item:focus:not(:active) {
    background-color: rgba(0, 0, 0, 0.12);
}

.dropdown-content .dropdown-item:active,
.sidenav .nav-item:active {
    background-color: rgba(158, 158, 158, 0.40);
}