.overlay,
.overlay-bg {
    position: fixed;
    width: 100%;
    height: 100%;
}

.overlay {
     z-index: 999;
     top: 0;
     display: none;
}

.overlay-bg {
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
}

.overlay-toggle {
    display: none!important;
}

.overlay-toggle:checked+.overlay {
     display: -webkit-box;
     display: -webkit-flex;
     display: -moz-box;
     display: -ms-flexbox;
     display: flex;
}