.ripple-effect {
    position: relative;
    overflow: hidden;
}

.ripple {
    -webkit-transform: translate(-50%, -50%) scale(0);
        -ms-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0);
    opacity: 0.25;
    border-radius: 50%;
    z-index: 9;
    position: absolute;
    -webkit-transition: all 0s;
    -o-transition: all 0s;
    transition: all 0s;
}

.ripple.black {
    background-color: #000!important;
}

.ripple.white {
    background-color: #fff!important;
}

.ripple-effect.is-visible .ripple,
.ripple-effect.is-fading .ripple {
    -webkit-transform: translate(-50%, -50%) scale(2.9);
        -ms-transform: translate(-50%, -50%) scale(2.9);
            transform: translate(-50%, -50%) scale(2.9);
}

.ripple-effect.is-visible .ripple {
    opacity: .3;
    -webkit-transition: opacity .18s ease-in, -webkit-transform .27s ease-in;
    transition: opacity .18s ease-in, -webkit-transform .27s ease-in;
    -o-transition: transform .27s ease-in, opacity .18s ease-in;
    transition: transform .27s ease-in, opacity .18s ease-in;
    transition: transform .27s ease-in, opacity .18s ease-in, -webkit-transform .27s ease-in;
}

.ripple-effect.is-fading .ripple {
    opacity: 0;
    -webkit-transition: opacity .3s ease-in, -webkit-transform .27s ease-in;
    transition: opacity .3s ease-in, -webkit-transform .27s ease-in;
    -o-transition: transform .27s ease-in, opacity .3s ease-in;
    transition: transform .27s ease-in, opacity .3s ease-in;
    transition: transform .27s ease-in, opacity .3s ease-in, -webkit-transform .27s ease-in;
}