.ripple-effect {
    position: relative;
}

.ripple-container {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
}

.ripple-container,
.ripple-container *{
    pointer-events: none;
}

/* ripples for inputs */
.checkbox__check .ripple-container,
.radio__check .ripple-container,
.switch__check .ripple-container {
    width: 185%;
    height: 185%;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.checkbox__check .ripple-container .ripple,
.radio__check .ripple-container .ripple,
.switch__check .ripple-container .ripple,
.checkbox__check .ripple-container .ripple,
.radio__check .ripple-container .ripple,
.switch__check .ripple-container .ripple {
    left: 50%!important;
    top: 50%!important;
}

.checkbox__check .ripple-container .ripple,
.radio__check .ripple-container .ripple,
.switch__check .ripple-container .ripple {
    background-color: #2196F3;
}

.switch .switch__check .ripple-container {
    left: 10px;
    width: 35px;
    height: 35px;
    -webkit-transition: left 0s linear .3s;
         -o-transition: left 0s linear .3s;
            transition: left 0s linear .3s;
}

.switch input:checked~.switch__check .ripple-container {
    left: 26px;
}
/* END ripples for inputs */

.ripple {
    -webkit-transform: translate(-50%, -50%) scale(0);
        -ms-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0);
    -webkit-transition: opacity .3s ease-out, -webkit-transform .3s ease-out;
            transition: opacity .3s ease-out, -webkit-transform .3s ease-out;
         -o-transition: transform .3s ease-out, opacity .3s ease-out;
            transition: transform .3s ease-out, opacity .3s ease-out;
            transition: transform .3s ease-out, opacity .3s ease-out, -webkit-transform .3s ease-out;
    opacity: .3;
    background-color: #000;
    border-radius: 50%;
    z-index: 9;
    position: absolute;
}

.ripple.is-visible,
.ripple.is-fading {
    -webkit-transform: translate(-50%, -50%) scale(2.9);
        -ms-transform: translate(-50%, -50%) scale(2.9);
            transform: translate(-50%, -50%) scale(2.9);
}

.ripple.is-fading {
    opacity: 0;
}

.ripple-effect.has-white-ripple .ripple,
.ripple-effect.primary .ripple,
.ripple-effect.blue .ripple,
.ripple-effect.brown .ripple,
.ripple-effect.blue-gray .ripple,
.ripple-effect.blue-grey .ripple,
.ripple-effect.green .ripple,
.ripple-effect.indigo .ripple,
.ripple-effect.deep-orange .ripple,
.ripple-effect.pink .ripple,
.ripple-effect.purple .ripple,
.ripple-effect.deep-purple .ripple,
.ripple-effect.red .ripple,
.ripple-effect.teal .ripple,
.ripple-effect.dark-gray .ripple,
.ripple-effect.dark-grey .ripple {
    background-color: #fff;
}

[disabled] .ripple,
.disabled .ripple {
    background-color: transparent!important;
}