.transition {
    -webkit-transform: translate(0) scale(1) rotate(0);
        -ms-transform: translate(0) scale(1) rotate(0);
            transform: translate(0) scale(1) rotate(0);
    opacity: 1;
    -webkit-transition: all .27s ease-out;
         -o-transition: all .27s ease-out;
            transition: all .27s ease-out;
}

.transition.is-stopped {
    -webkit-transition: all .27s ease-in;
         -o-transition: all .27s ease-in;
            transition: all .27s ease-in;
}

.transition.slide-left.is-stopped {
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
}

.transition.slide-right.is-stopped {
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
}

.transition.slide-top.is-stopped {
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
}

.transition.slide-bottom.is-stopped {
    -webkit-transform: translateY(100%);
        -ms-transform: translateY(100%);
            transform: translateY(100%);
}

.transition.opacity.is-stopped {
    opacity: 0;
}

.transition.shadow.is-stopped {
    -webkit-box-shadow: none;
            box-shadow: none;
}